.start-screen {
    background-color: #404040;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startbox-image {
    height: 90%;
    width: auto
}

.startlabel {
    position: absolute;
    bottom: 10vh;
    height: 5%;

    &:hover {
        transition: 120ms ease-in-out;
        transform: scale(1.2);
        opacity: 0.8;
        cursor: pointer;
    }
}